body,html{
	height: 100%;
	background: #fff;
}
.sort_left{
	width: 1.94rem;
	background: #f8f8f8;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}
.sort_left li{
	text-align: center;
	font-size: .28rem;
	color: #222;
	/*border-top: 1px solid #E0E0E0;*/
	overflow: hidden;
	position: relative;
}
.sort_left li:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .sort_left li:after{
		transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .sort_left li:after{
		transform: scaleY(0.5)
    }
}
.sort_right ul li>a{
	display: block;
}
.sort_left li div{
	width: .68rem;
	height: .68rem;
	margin: .38rem auto .32rem;
}
.sort_left li p{
	margin-bottom: .28rem;
	font-size: .26rem;
    color: #666;
}
.choosed{
	background: #fff;
}
.choosed:after{
	border-top: none !important;
	
}
.sort_right{
	float: right;
	width: 76%;
}
.sort_right .sort_r_con{
	display: none;
}
.sort_right ul li{
	overflow: hidden;
	/*border-bottom: 1px solid #E0E0E0;*/
	position: relative;
}
.sort_right ul li:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .sort_right ul li:after{
		transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .sort_right ul li:after{
		transform: scaleY(0.5)
    }
}
.sort_right .all_pic{
	width: 1.48rem;
	height: 1.48rem;
	margin: .3rem;
	float: left;
} 
.sort_right .all_pic img{
	width: 100%;
}
.sort_right .all_price{
	float: left;
	margin: .3rem 0;
	width: 3.2rem;
	height: 1.48rem;
	position: relative;

}
.all_price p:first-child{
	color: #222;
	font-size: .28rem;
	line-height: 0.4rem;
}
.all_price p:last-child{
	color: #ff943e;
	font-size: .28rem;
	/*margin-top: .6rem;*/
	position: absolute;
	bottom: 0.02rem;
}
.all_price p:last-child>span{
	font-size: 0.3rem;
	padding-left: 0.03rem;
}