html,body{
	height: 100%;
}
.order_nodata{
	width: 100%;
	height: 100%;
	background:#fff;
	overflow: hidden;
}
.order_nodata div{
	width: 2.01rem;
	height: 2.01rem;
	margin: 3rem auto .5rem;
}
.order_nodata p{
	text-align: center;
	font-size: .28rem;
	color: #929292;
}

.has_history{
	width: 100%;
}
.has_history li{
	margin-bottom: .2rem;
	background: #fff;
	overflow: hidden;
	border-bottom: 1px solid #E0E0E0;
}
.has_history li .history_top{
	height: .9rem;
	padding: 0 .3rem;
	line-height: .9rem;
}
.history_top p span,.history_top p i{
	font-size: .28rem;
}
.has_history li .history_bot{
	padding: .32rem .3rem 0;
	overflow: hidden;
}
.history_bot div{
	overflow: hidden;
	margin-bottom: .32rem;
}
.history_bot div p{
	width: 50%;
	float: left;
}
.history_bot div p span{
	color: #222;
	font-size: .28rem;
}
.history_bot div p i{
	color: #929292;
	font-size: .28rem;
}
