.search_city {
	height: .9rem;
	line-height: .9rem;
	background: url(/images/city_search.png) no-repeat .3rem center;
	background-size: 5%;
	background-color: #fff;
}

.search_city input {
	margin-left: .8rem;
	width: 80%;
	font-size: .26rem;
}

.fixed_location {
	color: #ff943e !important;
}

.showLetter {
	position: fixed;
	color: #ff943e;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	text-align: center;
	display: none;
	z-index: 999;
	width: 1rem;
	height: 1rem;
}

.showLetter span {
	display: block;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .6rem;
	border: #ff943e 1px solid;
	border-radius: 50%;
}


/*城市弹层*/



.letter {
	width: auto;
	position: fixed;
	top: 20%;
	right: 0;
	text-align: center;
	z-index: 99;
}

.letter ul {
	list-style-type: none;
}

.letter ul li a {
	text-decoration: none;
	color: #929292;
	font-size: .26rem;
	padding: 0 0.2rem;
}

.city {
	width: 100%;
	height: 12.2rem;
	overflow-y:scroll;
	position: relative;
}

.city-list {
	width: 100%;
}

.city-list .city-letter {
	font-size: .26rem;
	display: block;
	line-height: .4rem;
	text-indent: .32rem;
	/*box-sizing: border-box;*/
	/*border-bottom: 1px solid #E0E0E0;*/
	width: 100%;
	height: 0.4rem;
	position: relative;
}
.city-list .city-letter:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .city-list .city-letter:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .city-list .city-letter:after{
        transform: scaleY(0.5)
    }
}
.city-list p {
	font-size: .28rem;
	color: #222;
	height: .88rem;
	line-height: .88rem;
	cursor: pointer;
	background: #fff;
	padding: 0 .3rem;
	position: relative;
}
.city-list p:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .city-list p:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .city-list p:after{
        transform: scaleY(0.5)
    }
}
.city-wrap-tit{
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: .32rem;
	text-align: center;
	background: #fff;
	color: #444;
	position: relative;
	border:none !important;
}
.city-wrap-tit:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .city-wrap-tit:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .city-wrap-tit:after{
        transform: scaleY(0.5)
    }
}
.city-wrap-tit .back{
	position: absolute;
	right: 0;
	width: 0.82rem;
	height: 0.8rem;
	background: url(/images/bill1.png) no-repeat center;
	background-size: 0.14rem 0.26rem;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */

}
.box{
	
}