.flow{
	background: #fff;
	padding: .3rem;
	overflow: hidden;
	margin-bottom: .2rem;
    border:none;
    position:relative;
}
.flow:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .flow:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .flow:after{
        transform: scaleY(0.5)
    }
}
.order_head{
	width: 100%;
    padding: .3rem;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border:none;
}
.order_head:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.order_head:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .order_head:before,.order_head:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .order_head:before,.order_head:after{
        transform: scaleY(0.5)
    }
}
.order_head .head_img{
	width: 1.38rem;
	height:1.38rem;
	float: left;
}
.order_head .choose_num{
	float: left;
	margin-left: .3rem;
    width: 5rem;
}
.order_head .choose_num .order_name{
	font-size: .28rem;
	line-height: .6rem;
}
.remark{
	color: #666;
	font-size: .24rem;
	width: 100%;
}
.choose_num div{
	overflow: hidden;
    margin-top: .25rem;
}
.order_name span{
	font-size: .28rem;
}
.num_change {
	float: left;
	border: 1px solid #E0E0E0;
	border-radius: .08rem;
	line-height: .5rem;
}
.num_change span{
	min-width: .5rem;
	height: .5rem;
	text-align: center;
}
.num_change span:nth-child(2){
	min-width: .5rem;
	height: .5rem;
	text-align: center;
	border-right: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	padding: 0 .1rem;
}
.priceshow {
	float: right;
    margin-left: .5rem;
    width: 2.5rem;
    line-height: .5rem;
    color: #ff943e;
    font-size: .3rem;
	text-align: right;
}

.priceshow span{
	font-size: .3rem;
	margin-left: .1rem;
}
.priceshow input{
	float: right;
    background: url(/images/btn_shuoming.png) no-repeat right center;
    background-size: 22%;
    padding-right: .4rem;
    line-height: .5rem;
    font-size: .22rem;
    color: #929292;
    display: none;
}
.contact_way{
	background: #fff;
	margin-bottom: 1.2rem;
    border:none;
    padding-bottom: 0.08rem;
}
.contact_way:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .contact_way:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .contact_way:after{
        transform: scaleY(0.5)
    }
}
.contact_way .contact_wayli{
	margin: 0 .3rem;
	/*border-bottom: 1px solid #E0E0E0;*/
	min-height: .9rem;
	overflow: hidden;
    position: relative;
}
.contact_way .contact_wayli:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .contact_way .contact_wayli:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .contact_way .contact_wayli:after{
        transform: scaleY(0.5)
    }
}
.contact_way .enter{
	background: url(/images/btn_jinru.png) no-repeat right center;
	background-size: 2.5%;
    padding-right: 0.26rem;
}
.contact_way .contact_wayli span{
	line-height: .9rem;
	float: left;
	font-size: .28rem;
}
.contact_way .contact_wayli input{
	float: right;
	text-align: right;
	line-height: .9rem;
	width: 68%;
	font-size: .26rem;
    background: transparent;
	color: #222;
}
.contact_way .contact_wayli textarea{
	float: right;
	padding: .28rem 0 .2rem;
    width: 70%;
    text-align: right;
    resize: none;
	color: #222;
    font-size: .26rem;
	
}
.contact_way .problem_desc{
	border-bottom: 0;
}
.contact_way .problem_desc span,.contact_way .problem_desc textarea{
	width: 100%;
}
.contact_way .problem_desc textarea{
	text-align: left;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	padding: .1rem;
}
#uploader{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	height: 2.4rem !important;
	padding-bottom: 0;
}
.agree{
	padding: 0 .3rem;
	margin-bottom: .4rem;
    margin-top: 0.15rem;
}
.agree input[type=checkbox]{
	width: .32rem;
    height: .32rem;
    background: url(/images/btn_press_tongyi.png) no-repeat center;
    background-size: 100%;
    margin-right: .1rem;
}
.agree a{
	color: #4b6cfb;
}
.foot {
	position: fixed;
	width: 100%;
	height: 1.18rem;
	bottom: 0;
	padding: 0 .3rem;
	background: #fff;
	box-sizing: border-box;
    border:none;
}
.foot:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .foot:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .foot:after{
        transform: scaleY(0.5)
    }
}
.foot input{
	width: 5.92rem;
    line-height: .88rem;
    color: #fff;
    background: #ccc;
    margin: .15rem auto;
    display: block;
    border-radius: .08rem;
    font-size: .3rem;
}

/*choosedate*/
.datebox{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	z-index: 9999;
	display: none;
}
.choosedate{
	width: 100%;
	overflow: hidden;
	background: #fff;
	position: absolute;
	bottom: -3.36rem;
}
.choosedate p{
	padding: 0 .3rem;
    background: #e6e6e6;
    text-align: center;
    line-height: .58rem;
}
.choosedate p span{
	color: #ff943e;
}
.choosedate p span,.choosedate p i{
	font-size: .28rem;
}
.fleft {
	width: 55%;
	box-sizing: border-box;
	border-right:1px solid #E0E0E0 ;
}
.fleft li{
	line-height: .9rem;
	border-bottom: 1px solid #E0E0E0 ;
	font-size: .26rem;
	text-align: center;
}
.fleft li span{
	font-size: .26rem;
}
.fright {
	width: 45%;
	box-sizing: border-box;
	height: 6.4rem;
}
.fright li{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;
}
.fright li:nth-of-type(1){
    display: block;
}
.fright li span{
	width: 100%;
	line-height: .9rem;
	text-align: center;
	font-size: .26rem;
	border-bottom: 1px solid #E0E0E0;
}
.add_bgcolor{
	background: #ff943e;
	color: #fff;
}
::-moz-placeholder { color: #929292; }
::-webkit-input-placeholder { color:#929292; }
:-ms-input-placeholder { color:#929292; }

.xieyi {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 66666;
}

.agreement_sec {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-bottom: 0;
    overflow-y: scroll;
}

.agreement_head {
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: .88rem;
    line-height: .88rem;
    background: #f5f5f5;
}

.agreement_head p {
    text-align: center;
    font-size: .28rem;
    font-weight: bold;
    line-height: .88rem;
}

.xieyi .close_agree {
    display: block;
    position: fixed;
    bottom: 0.2rem;
    width: 5.92rem;
    height: 0.88rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: 0.28rem;
    border-radius: 0.08rem;
    background: #ff943e;
}

.agreement_content {
    width: 100%;
    height: 100%;
    margin-top: 1.05rem;
}

.agreement_content p {
    margin: 0 .3rem;
    color: #929292;
    font-size: .24rem;
    text-align: justify;
    line-height: .4rem;
    text-indent: .4rem;
}
.agreement_content p:nth-last-of-type(1){
    padding-bottom: 1.1rem;
}
.agreement_content .last_p {
    margin-bottom: .32rem;
}

.agreement_content .title {
    margin-bottom: .2rem;
    font-size: .26rem;
    color: #666;
    text-indent: 0;
}