.qyd_banner {
	background: #fff;
	overflow: hidden;
}

.img_box {
	font-size: 0;
}

.margin_b {
	border-bottom: .2rem solid #f7f9ff;
}

.qyd_title {
	width: 100%;
	height: .9rem;
	background: #fff;
}

.qyd_title li {
	float: left;
	width: 50%;
	line-height: .9rem;
}

.qyd_title li a {
	display: inline-block;
	line-height: .4rem;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-size: .26rem;
	letter-spacing: .05rem;
}

.change_color {
	color: #ff943e;
}

.qyd_title li:first-child a {
	border-right: 1px solid #E0E0E0;
}

.qyd_content .content_right {
	display: none;
	margin-bottom: 1.6rem;
}

.products_presentation,
.service_note,
.content_of_product {
	background: #fff;
	padding: 0 .3rem;
	overflow: hidden;
	/*border-bottom: .2rem solid #f7f9ff;*/
	padding-bottom: 0.3rem;
}

.h2 {
	font-size: .36rem;
	text-align: center;
	margin-top: .3rem;
}

.products_presentation p {
	padding: .1rem 0;
	line-height: .38rem;
	margin-top: 0.05rem;
	color: #666;
	text-align: center;
}
.products_presentation img{
	width: 100%;
	margin-top: 0.18rem;
}


.service_note ul {
	padding: .5rem .2rem 0;
	height: 4.22rem;
	background: url(/images/note_bg.png) no-repeat top center;
	background-size: 100%;
	margin-top: .2rem;
}

.service_note ul li {
	overflow: hidden;
	line-height: .4rem;
}

.service_note span {
	float: left;
	background: #ff943e;
	border-radius: 100%;
	width: .26rem;
	height: .26rem;
	text-align: center;
	color: #fff;
	font-size: .22rem;
	line-height: .26rem;
	margin-top: .08rem;
	vertical-align: middle;
}

.service_note p {
	float: left;
	width: 5.8rem;
	font-size: .22rem;
	color: #666;
	margin: 0 .23rem 0 .13rem;
}

.content_of_product .qyd_price {
	margin-bottom: .2rem;
	color: #ff943e;
	text-align: center;
}

.content_of_product table {
	width: 100%;
}

.content_of_product table tr th,
.content_of_product table tr td {
	text-align: center;
	font-size: .22rem;
	border: 1px solid #e0e0e0;
	height: .58rem;
	box-sizing: border-box;
	vertical-align: middle;
}

.content_of_product table tr th:first-child {
	width: 1.6rem;
}

.content_of_product table tr td {
	color: #666;
	padding: 0 .3rem;
}

.content_of_product .qyd_remark {
	border: 1px solid #e0e0e0;
	border-top: 0;
	overflow: hidden;
	box-sizing: border-box;
	padding: .2rem .3rem;
}

.qyd_remark div {
	float: left;
}

.qyd_remark div {
	font-size: .22rem;
	color: #666;
}

.qyd_remark div:first-child {
	color: #ff943e;
}

.qyd_remark div:last-child {
	width: 5.5rem;
}

.content_right .pl_box {
	background: #fff;
	overflow: hidden;
}

.content_right .pl_list {
	margin: 0 .3rem;
	padding: .36rem 0;
	border-bottom: 1px solid #E2E2E2;
	overflow: hidden;
}

.content_right .pl_left {
	border-radius: 50%;
	width: .8rem;
	height: .8rem;
	float: left;
}

.content_right .pl_right {
	float: left;
	margin-left: .24rem;
	width: 84%;
}

.content_right .pl_right p:nth-child(1) {
	margin-top: .13rem;
	line-height: .4rem;
}

.content_right .pl_right p {
	width: 100%;
	float: left;
	text-align: justify;
}

.pl_right p:nth-child(1) span:first-child {
	float: left;
	font-size: .26rem;
	color: #333333;
}

.pl_right p:nth-child(1) span:last-child {
	font-size: .2rem;
	color: #a0a0a0;
	float: right;
}

.pl_right p:nth-child(3) {
	margin-top: .2rem;
	color: #666;
}

.star {
	width: 100%;
	float: left;
	margin-top: .1rem;
}

.star li {
	float: left;
	width: .26rem;
	height: .29rem;
	background: url(/images/xingxing.png) no-repeat center;
	background-size: 100%;
	margin-right: .05rem;
}

.star span {
	margin-left: .12rem;
	font-size: .2rem;
	color: #999;
}

.pl_box li:last-child {
	border-bottom: 0;
}

.ag_Comment {
	background: #fff;
	overflow: hidden;
}

.ag_Comment div {
	width: 1.8rem;
	height: 1.44rem;
	margin: 1.5rem auto .5rem;
}

.ag_Comment p {
	font-size: .3rem;
	color: #333;
	text-align: center;
}
.qyd_foot {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	border:none;
}
.qyd_foot:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #e0e0e0;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .qyd_foot:after{
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .qyd_foot:after{
        transform: scaleY(0.5)
    }
}
.qyd_foot input{
	width: 5.92rem;
    line-height: .88rem;
    color: #fff;
    background: #ff943e;
    margin: .15rem auto;
    display: block;
    border-radius: .08rem;
    font-size: .3rem;
}
body,
html {
	background: #fff;
}

a {
	-webkit-tap-highlight-color: transparent;
}