@charset "utf-8";
@media screen and (min-width: 320px) { html{ font-size:42px; }}
@media screen and (min-width: 360px) { html{ font-size:48px; }}
@media screen and (min-width: 375px) { html{ font-size:50px; }}
@media screen and (min-width: 400px) { html{ font-size:54px; }}
@media screen and (min-width: 414px) { html{ font-size:56px; }}
@media screen and (min-width: 440px) { html{ font-size:58px; }}
@media screen and (min-width: 480px) { html{ font-size:64px; }}
@media screen and (min-width: 520px) { html{ font-size:70px; }}
@media screen and (min-width: 560px) { html{ font-size:74px; }}
@media screen and (min-width: 600px) { html{ font-size:80px; }}
@media screen and (min-width: 640px) { html{ font-size:86px; }}
@media screen and (min-width: 680px) { html{ font-size:90px; }}
@media screen and (min-width: 720px) { html{ font-size:96px; }}
@media screen and (min-width: 750px) { html{ font-size:100px; }}
@media screen and (min-width: 768px) { html{ font-size:102px; }}
@media screen and (min-width: 1024px) { html{ font-size:106px; }}
body{ line-height:normal; margin: 0; font-size: .24rem; }
body,html{ min-height: 100%; background: #f7f9ff;}
body,input,button,textarea,select,option,label,a{ font-family:"微软雅黑",Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",\5B8B\4F53,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,sans-self; color: #222; }
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:.24rem; vertical-align: baseline; background: transparent; font-weight: normal; font-style: normal; }
article,aside,details,figcaption,figure,footer,header,menu,nav,section{ display:block; }
input,button,textarea,select,option{ margin: 0; padding: 0; outline: none; border: 0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -webkit-tap-highlight-color:rgba(0,0,0,0); border-radius: 0; }
nav,ul,ol{ list-style:none; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:none; }
a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;text-decoration: none; }
ins{ background:#ff9; color:#000; text-decoration:none; }
mark{ background:#ff9; color:#000; font-style:italic; font-weight:bold; }
del{ text-decoration:line-through; }
abbr[title],dfn[title]{ border-bottom: 1px dotted; cursor:help; }
table{ border-collapse:collapse; border-spacing:0; }
hr{ display:block; height:1px; border:0; margin: .1rem 0; padding: 0; }
input,select{ vertical-align:middle; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0; }
.clearfix{ zoom:1; }
.fl { float: left; }
.fr { float: right; }
.flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.fx1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
span, input {
    display: inline-block;
}
input{-webkit-appearance: none;}
.border_top{
	border-top: 1px solid #E0E0E0;
}
.border_bottom{
	border-bottom: 1px solid #E0E0E0;
}
img{
	width: 100%;
}
