.headline{
	font-size: .24rem;
	color: #858e99;
	line-height: .64rem;
	padding: 0 .6rem;
}
.textarea{
	padding: 0 .3rem;
}
.textarea textarea{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #f2f2f2;
	resize: none;
	padding: .1rem .3rem;
	line-height: .42rem;
	height: 2.81rem;
	font-size: .32rem;
}
.email {
	padding: 0 .3rem;
}
.email input[type=email]{
	width: 100%;
	height: .9rem;
	box-sizing: border-box;
	border: 1px solid #f2f2f2;
	padding: 0 .3rem;
	font-size: .32rem;
}
.submit_feedback{
	padding: 0 .64rem;
	margin-top: .72rem;
	margin-bottom: .1rem;
}
.submit_feedback input[type=button]{
	width: 100%;
	height: .88rem;
	background: #ccc;
	border-radius: .08rem;
	color: #fff;
	font-size: .32rem;
}
.guidance_p{
	text-align: center;
	margin-top: .2rem;
	color: #929292;
}
.guidance_p a{
	color: #ff943e;
	text-decoration: underline;
}
::-moz-placeholder { color: #ccc; }
::-webkit-input-placeholder { color:#ccc; }
:-ms-input-placeholder { color:#ccc; }